.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#carouselBooks {
    margin-top: 55px;
}

#carouselBooks img {
    filter: brightness(0.6);
    height: 200px;
    object-fit: cover;
}

.sliderHead {
    position: absolute;
    left: 50%;
    margin-left: -304px;
    top: 70px;
}

.heading {
    color: #fff;
    font-family: 'Radley', serif;
    font-weight: 800;
}

h2.heading {
    font-size: 3rem;
}

@media only screen and (max-width: 800px) {
    .sliderHead {
        margin-left: -253.5px;
    }
    h2.heading {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 660px) {
    .sliderHead {
        margin-left: -177.5px;
    }
    h2.heading {
        font-size: 1.75rem;
        padding: 0 5px;
    }
    h4.heading {
        font-size: 1.15rem;
        padding: 0 5px;
    }
}

@media only screen and (max-width: 460px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .sliderHead {
        top: 60px;
    }

}