* {
  font-family: 'Radley', serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #005675;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #005675;
}

a:hover {
  color: #4b9fbe;
  text-decoration: none;
}

body {
  height: 100vh
}

#root {
  height: 100%;
}